<div class="flex flex-column p-2">
  <h3>Buscador</h3>
  <mat-form-field>
    <mat-label>Buscador de Heroes</mat-label>
    <input type="text" matInput [formControl]="searchInput" (input)="searchHero()" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
      <mat-option *ngFor="let hero of heroes " [value]="hero">
        {{hero.superhero}}
      </mat-option>
      <mat-option *ngIf="heroes.length === 0 && searchInput.value &&searchInput.value.length > 0">No Se Encontro Nada {{searchInput.value}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-card *ngIf="selectedHero">
    <mat-card-header>
      <mat-card-title>
        <h3>Resultados</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{selectedHero | json}}
    </mat-card-content>
  </mat-card>
  <heroes-hero-card class="col-2" *ngIf="selectedHero" [hero]="selectedHero"></heroes-hero-card>
</div>
